apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default

  ignoreDifferences:
  - group: "apiextensions.k8s.io"
    kind: "CustomResourceDefinition"
    jsonPointers:
    - "/metadata/annotations"
    - "/metadata/labels"

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 45.6.0
    helm:
      values: |
        prometheus:
          prometheusSpec:
            resources:
              limits:
                memory: 800Mi
        alertmanager:
          alertmanagerSpec:
            resources:
              limits:
                memory: 300Mi
        grafana:
          resources:
            limits:
              memory: 300Mi

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

